extends layout

block content
   div.wrapper
    h2.ui.header
     i.list.layout.icon
     div.content SlickGrid Backbone Listing
      div.sub.header Manage your account settings and set e-mail preferences.

    table.ui.sortable.table.segment
     thead
      tr
       th Title
       th Duration
       th %Complete
       th Start
       th Finish
       th Effort Driven
     tbody
      tr
       td Task 980
       td 5 days
       td 46
       td 01/01/2009
       td 01/05/2009
       td true
      tr
       td Task 98
       td Approved
       td Requires call
       td Requires call
       td Requires call
       td Requires call
      tr
       td Task 979
       td Denied
       td None
       td None
       td None
       td None
      tr
       td Task 977
       td Denied
       td None
       td None
       td None
       td None
      tr
       td Task 976
       td Denied
       td None
       td None
       td None
       td None
      tr
       td Task 975
       td Denied
       td None
       td None
       td None
       td None
      tr
       td Task 975
       td Denied
       td None
       td None
       td None
       td None
      tr
       td Task 975
       td Denied
       td None
       td None
       td None
       td None
      tr
       td Task 975
       td Denied
       td None
       td None
       td None
       td None
     tfoot
      tr
       th &nbsp;
       th
       th
       th
       th
       th

script(type='text/javascript', src='/lib/jquery/jquery-1.10.2.min.js')
script(type='text/javascript', src='/javascript/semantic.js')
script(type='text/javascript', src='/lib/underscorejs/underscore.js')
script(type='text/javascript', src='/lib/backbonejs/backbone.js')