extends layout

block content
   div.wrapper
    h2.ui.header
     i.list.layout.icon
     div.content SlickGrid Backbone Listing
      div.sub.header Simple SlickGrid listing using backbonejs and nodejs.