doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/semantic.css')
    link(rel='stylesheet', href='/css/style.css')
  body#body
    block content
    script(type='text/javascript', src='/lib/jquery/jquery.js')
    script(type='text/javascript', src='/javascript/semantic.js')
    script(type='text/javascript', src='/lib/underscorejs/underscore.js')
    script(type='text/javascript', src='/lib/backbonejs/backbone.js')
    script(type='text/javascript', src='/lib/jquery/jquery.event.drag-2.0.min.js')
    script(type='text/javascript', src='/lib/jquery/jquery.ui.core.js')
    script(type='text/javascript', src='/lib/jquery/jquery.ui.widget.js')
    script(type='text/javascript', src='/lib/jquery/jquery.ui.mouse.js')
    script(type='text/javascript', src='/lib/jquery/jquery.ui.resizable.js')
    script(type='text/javascript', src='/lib/jquery/jquery.ui.sortable.js')
    script(type='text/javascript', src='/lib/jquery/slick.core.js')
    script(type='text/javascript', src='/lib/jquery/slick.grid.js')
    script(type='text/javascript', src='/lib/jquery/slick.dataview.js')
    script(type='text/javascript', src='/lib/jquery/slick.checkboxselectcolumn.js')
    script(type='text/javascript', src='/lib/jquery/slick.rowselectionmodel.js')
    script(type='text/javascript', src='/lib/jquery/slick.columnpicker.js')
    script(type='text/javascript', src='/lib/jquery/bootstrap-slickgrid.js')
    script(type='text/javascript', src='/lib/jquery/slick.editors.js')
    script(type='text/javascript', src='/javascript/main.js')
