doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/semantic.css')
    link(rel='stylesheet', href='/css/style.css')
  body#body
    block content
    script(type='text/javascript', src='/lib/jquery/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/javascript/semantic.js')
    script(type='text/javascript', src='/lib/tablesort/jquery.tablesort.js')
    script(type='text/javascript', src='/lib/underscorejs/underscore.js')
    script(type='text/javascript', src='/lib/backbonejs/backbone.js')
    script(type='text/javascript', src='/javascript/main.js')
